<div *ngIf="hero">
	<h2>{{hero.name | uppercase}} Details</h2>
	<div>
		<span>id: </span>
		{{hero.id}}
	</div>

	<div>
		<label>name: </label>
		<input [(ngModel)]="hero.name" placehodler="name"/>
	</div>
</div>

<button type="button" (click)="goBack()">go back</button>
